{% extends 'main.html' %}

{% block content %}
        <img src={{ post.thumbnail.url }} alt={{ post.title }} width="250"/>
        <strong>{{ post.title }}</strong>
        <p>{{ post.description }}</p>
        <p>{{ post.text }}</p>
        <small>{{ post.create }}</small>
        <hr>
        <span>{{ post.category.title }}</span>
        {% if request.user == post.author %} <a href="{% url 'post_update' post.slug %}" class="btn btn-sm btn-primary">Редактировать пост</a> {% endif %}
{% endblock %}